body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 10px;
    background-color: #1e1e1e;
    max-width: 500px;
    width: 100%;
}

.auction-item img {
    max-width: 100%;
    border-radius: 10px;
}

form {
    margin: 20px 0;
}

input, button {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #333;
    color: #ffffff;
}

footer {
    margin-top: 20px;
}

a {
    color: #42a5f5;
}

#admin-section {
    margin-top: 20px;
}

#admin-button, #show-emails {
    margin-top: 10px;
}
